.feed {
  flex: 5;
  padding: 1rem;
  height: calc(100vh - 60px);
  /* position: sticky;
  overflow-y: auto;*/
}

/*.feed::-webkit-scrollbar {
  display: none;
}*/

/*.feed {
  -ms-overflow-style: none; /* IE and Edge */
/* scrollbar-width: none; /* Firefox */
/*}*/
.shareItem {
  box-shadow: var(--light-shadow);
  border-radius: 10px;
  padding: 1rem;
  background-color: white;
}
.shareItem:hover {
  box-shadow: var(--dark-shadow);
}
.shareItem__header {
  display: flex;
  justify-content: space-between;
}
.shareItem__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.shareItem__input {
  width: 90%;
  border: none;
}
.shareItem__input:focus {
  outline: none;
}

.shareItem hr {
  margin: 2rem;
}
.shareItem__form {
  display: flex;
  justify-content: space-around;
}
.shareItemIcon {
  display: flex;
  align-items: center;
}
.shareItemIcon p {
  padding-left: 0.5em;
  font-weight: 550;
}
.sharebtn {
  color: white;
  background-color: green;
  border-radius: 3px;
  padding: 0.5em 1em;
  margin-left: 4rem;
  border: none;
}
/**************************/

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 600vh;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
  width: 100vmin;
}

.container p {
  font-family: Merriweather, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  max-width: 70vmin;
  text-align: justify;
  text-transform: none;
}
.image {
  background: white;
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.25);
  border: 15px solid white;
  border-width: 1vmin 1vmin 10vmin 1vmin;
  height: 70vmin;
  overflow: hidden;
  width: 70vmin;
}
.image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
