.sidebar {
  width: 20%;
  height: calc(100vh - 60px);
  position: fixed;
  overflow-y: scroll;
  top: 60px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}
.sidebar__element {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.sidebar__element:hover {
  cursor: pointer;
  color: var(--clr-primary-5);
}
.sidebar__element__icon {
  margin-right: 2rem;
}

.sidebar__element__title {
  font-size: medium;
  font-weight: 600;
}
.sidebar__btn {
  background-color: lightgray;
  padding: 0.5em 1.5rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 5px;
  margin-left: 1rem;
  cursor: pointer;
}
.sidebar__line {
  margin: 1rem;
  background-color: var(--clr-grey-8);
  height: 3px;
  border: none;
}
.freind {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.freind h4 {
  font-weight: 700;
  margin-left: 1rem;
  letter-spacing: var(--spacing);
}
