.rightbar {
  width: 20%;
  padding: 1rem;
  position: fixed;

  right: 10px;
}
.gift__container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.gift__img {
  width: 40px;
  height: 40px;
}
.gift__ad {
  display: flex;
  flex-direction: column;
  height: 50%;
}
.gift__container span {
  font-weight: 300;
  font-size: 15;
}

.rightbar__ad {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.rightbar__freind {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.rightbar__img__connected {
  position: relative;
}
.connected__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.green__circle {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  border: 3px solid white;
  top: -1px;
  right: 3px;
}

.rightbar__freind h4 {
  margin-left: 1rem;
}

.rightbar__freindsOnline {
  overflow-y: scroll;
  height: 45vh;
}
